<div>

	<div class="row">
		<div class="col-md-6">
			<label>All MME Pools</label><br/>
			<select ng-model="model.regionId" ng-options="m as m for m in mmePool.regionList"   multiple="multiple"
				id="selSwitch" class="form-control"	required=""/>
		</div>
		
		<div class="col-md-6">
			<label>My MME Pools</label><br/>
			<select ng-model="model.regionId" ng-options="m as m for m in mmePool.regionList"   multiple="multiple"
				id="selSwitch" class="form-control"	required=""/>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<label>All Markets</label><br/>
			<select ng-model="model.marketId" ng-options="m as m for m in mmePool.marketList"   multiple="multiple"
				id="selSwitch" class="form-control"	required=""/>
		</div>
		
		<div class="col-md-6">
			<label>My LTE Markets</label><br/>
			<select ng-model="model.regionId" ng-options="m as m for m in mmePool.regionList"   multiple="multiple"
				id="selSwitch" class="form-control"	required=""/>
		</div>
		
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<label>All Markets</label><br/>
			<select ng-model="model.regionId" ng-options="m as m for m in mmePool.regionList"   multiple="multiple"
				id="selSwitch" class="form-control"	required=""/>
		</div>
		
		<div class="col-md-6">
			<label>My LTE Markets for Perf Charts</label><br/>
			<select ng-model="model.regionId" ng-options="m as m for m in mmePool.regionList"   multiple="multiple"
				id="selSwitch" class="form-control"	required=""/>
		</div>
	</div>
</div>	

	

