<div id="mme-pool-form">				
	<div class="row">
			<label>All MME Pools</label><br/>
			<select ng-model="model.mmePoolId" ng-options="m.value as m.text for m in mmePool.mmePools"   multiple="multiple"
				id="selSwitch" class="form-control"	required="" bs-duallistbox>
			</select>
	</div>

	<div class="row">
			<label>All Markets</label><br/>
			<select ng-model="model.marketId" ng-options="m as m for m in mmePool.marketList"   multiple="multiple"
				id="selSwitch" class="form-control"	required="" bs-duallistbox>
			</select>
	</div>


	<div class="row">
			<label>All Markets</label><br/>
			<select ng-model="model.regionId" ng-options="m as m for m in mmePool.regionList"   multiple="multiple"
				id="selSwitch" class="form-control"	
				required="" bs-duallistbox >
			</select>
	</div>
</div>	

<div ng-repeat="m in mmePool.regionList" on-finish-render="ngRepeatFinished">

