<style>
	.row {
		margin-left: 0px;
		padding-bottom: 20px;
	}
</style>
<div>
	<div class="row">
		<div class="col-md-6">
			<label>User ID:</label><br/>				
			<span>{{userId}}</span>
		</div>
		
		<div class="col-md-6">
			<label>Region:</label>	
			<select ng-model="model.userInfo.regionId" ng-options="m as m for m in userPref.regionList" 
				id="selSwitch" class="form-control"	required="">
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<label>First name:</label>					
			<input ng-model="model.userInfo.firstName" class="form-control" placeholder="Enter first name">
		</div>
		
		<div class="col-md-6">
			<label for="selSwitch">Market</label>
			<select ng-model="model.userInfo.marketId" ng-options="m as m for m in userPref.marketList" 
				id="selSwitch" class="form-control"	required="">
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<label>Last name:</label>					
			<input ng-model="model.userInfo.lastName" class="form-control" placeholder="Enter last name">
		</div>
		
		<div class="col-md-6">
			<label>Email Address:</label>					
			<input type="email" ng-model="model.userInfo.emailAddress" class="form-control" placeholder="Enter email address">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 data-value">			
		<div class="panel panel-default">
			<ul class="list-unstyled list-info-sidebar bottom-30px">			
				<li class="data-row">
					<div class="data-name">Max # of scheduled reports:</div>
					<div class="data-value">{{model.userInfo.maxNo}} </div>
				</li>
				<li class="data-row">
					<div class="data-name">Current disk usage (MB)</div>
					<div class="data-value">
						{{model.userInfo.currentDiskUsage}} / 10000 MB
						<div class="progress progress-xs">
							<div style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="46" role="progressbar" class="progress-bar progress-bar-warning">
								<span class="sr-only">46%</span>
							</div>
						</div>
					</div>
				</li>
				<li class="data-row">
					<span class="data-name">Max disk usage (MB)</span>
					<span class="data-value">{{model.userInfo.maxDiskUsage}}</span>
				</li>
				<li class="data-row">
					<span class="data-name">Purge limit (days)</span>
					<span class="data-value">{{model.userInfo.purgeLimit}}</span>
				</li>
				<li class="data-row">
					<span class="data-name">Access level</span>
					<span class="data-value">{{model.userInfo.accessLevel}}</span>
				</li>
				<li class="data-row">
					<span class="data-name">Status</span>
					<span class="data-value">{{model.userInfo.status}}</span>
				</li>
			</ul>
		</div>
		</div>		
		
		<div class="col-md-6">
			<label>Mobile Number:</label>					
			<input ng-model="model.userInfo.mobileNumber" class="form-control" placeholder="Enter email address">
		</div>
		
		<div class="col-md-6">
			<label>
			  <input type="checkbox"> HeadQuarters Region
			</label>
		</div>
		
		<div class="col-md-6">
			<label for="timeZone">Timezone</label>
			<select ng-model="model.timeZone" ng-options="m as m for m in userPref.timeZone" 
				id="selSwitch" class="form-control"	required="">
			</select>
		</div>
	</div>

</div>


