<style>
    .slider {
        min-height: 250px;
    }
	
	.divslider {
		padding: 40px;	
		
	}
	
	.divselect {
		min-height: 250px; 
	}
	
	.center {
		padding-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	
	
	.floating-label-form-group input, .floating-label-form-group textarea {
    position: relative;
}
.floating-label-form-group label {
    display: block;
    position: absolute;
    top: 2em;
    opacity: 0;
    z-index: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    margin: 0;
    -webkit-transition: top 0.5s ease, opacity 0.5s ease;
    -moz-transition: top 0.5s ease, opacity 0.5s ease;
    -ms-transition: top 0.5s ease, opacity 0.5s ease;
    transition: top 0.5s ease, opacity 0.5s ease;
}
.floating-label-form-group-with-value label {
    opacity: 1;
    position: absolute;
    padding-left: 12px;
}
.floating-label-form-group-with-value label.left {
    top: 0;
    left: -25px;
}
.floating-label-form-group-with-value label.right {
    top: 0;
    right: -25px;
}
.floating-label-form-group-with-value label.top {
    top: -25px;
}
.floating-label-form-group-with-value label.bottom {
    bottom: -25px;
    top: auto;
}

/* DEMO STYLES */

form{
    margin-top: 25px;
}
</style>

<div class="content">
	<div class="panel panel-default">
	<slick class="slider single-item " dots="true" infinite="true" touch-move=true speed="100" current-index="index" autoplay="false" responsive="breakpoints" >
		<div class="divslider">
			<div>
				<label>Report Level</label>
				<select ng-model="model.reportLevel" ng-options="m as m for m in s.reportLevels" 
				id="selSwitch" class="form-control" required=""/>
				</select>
			</div>
			
			<div>
				<label>MME Pool</label>
				<select ng-model="model.mmePool" ng-options="m.value as m.text for m in s.mmePools"  
				id="selSwitch" class="form-control divselect" required="" multiple="multiple">
				</select>
			</div>
			
			<div>
				<label>MME/SGW/PGW</label>
				<select ng-model="model.mmePool" ng-options="m.value as m.text for m in s.mmePools"  
				id="selSwitch" class="form-control divselect" required="" multiple="multiple">
				</select>
			</div>
		</div>

		<div class="divslider">
			<div>
				<label>Region</label>
				<select ng-model="model.region" ng-options="m as m for m in s.regionList" 
				id="selSwitch" class="form-control divselect" required="" multiple="multiple"/>
				</select>
			</div>
			
			<div>
				<label>Market</label>
				<select ng-model="model.market" ng-options="m as m for m in s.marketList" 
				id="selSwitch" class="form-control divselect" required="" multiple="multiple"/>
				</select>
			</div>
		</div>
		
		
		<div class="divslider">
			<div>
				<label>eNodeB</label>
				<select ng-model="model.region" ng-options="m as m for m in s.regionList" 
				id="selSwitch" class="form-control divselect" required="" multiple="multiple"/>
				</select>
				
				<div class="control-group">				  
				  <div class="controls">
					<label class="radio" for="radios-0">
					  <input type="radio" name="radios" id="radios-0" value="Scrolltable table" checked="checked">
					  Scrollable table
					</label>
					<label class="radio" for="radios-1">
					  <input type="radio" name="radios" id="radios-1" value="Drill-down">
					  Drill-down
					</label>
					
					<href><a>Schedule this report</a></href>
				  </div>
				</div>

			</div>						
		</div>		
		
		<!-- Summary div -->
		<div class="divslider">
				<!-- TODO: Convert this into a directive -->
				<form name="form">
					<form-check ng-model="model.reportLevel"  id="reportLabel" label="Report Level"></form-check>
					<form-check ng-model="model.mmePool" id="mmePool" label="MME Pool"></form-check>
					<form-check ng-model="model.market" id="market" label="Market"></form-check>
					
					<div class="form-group" ng-class="{error: form.reportLevel.$invalid}">
						<label for="reportLevel">Report Level</label>
						<input type="text" id="reportLevel" name="reportLevel" ng-model="model.reportLevel" disabled required>
						<span ng-show="form.reportLevel.$error.required" class="help-inline glyphicon glyphicon-exclamation-sign text-danger"></span>
						<span ng-show="form.reportLevel.$valid" class="help-inline glyphicon glyphicon-ok text-success"></span>					
					</div>
					
					<div class="control-group" ng-class="{error: form.mmePool.$invalid}">						
						<label>MME Pool</label>
						<input type="text" name="mmePool" ng-model="model.mmePool" disabled required>
						<span ng-show="form.mmePool.$error.required" class="help-inline glyphicon glyphicon-exclamation-sign text-danger"></span>
						<span ng-show="form.mmePool.$valid" class="help-inline glyphicon glyphicon-ok text-success"></span>

					</div>				
					
					<div class="control-group" ng-class="{error: form.market.$invalid}">
						<label>Market</label>
						<input type="text" name="market" ng-model="model.market" disabled required>
						<span ng-show="form.market.$error.required" class="help-inline glyphicon glyphicon-exclamation-sign text-danger"></span>
						<span ng-show="form.market.$valid" class="help-inline glyphicon glyphicon-ok text-success"></span>
					</div>				

				</form>
	
			</div>						
		</div>		

	</slick>
	</div>
	
	<div class="row center" >			
		<div class="col-md-6">
			<button class='btn btn-default btn-block'>Submit</button>
		</div>
		
		<div class="col-md-4">
			<button class='btn btn-default btn-block'>Reset</button>
		</div>
				 
	</div>			
</div>

