<div>
    <label>Report Level</label>
    <select ng-model="model.userInfo.regionId" ng-options="m as m for m in sah.reportLevels" 
    id="selSwitch" class="form-control" required=""/>
</div>

<div>
    <label>MME Pool</label>
    <select ng-model="model.userInfo.regionId" ng-options="m as m for m in sah.reportLevels"  
    id="selSwitch" class="form-control" required="" multiple="multiple"/>
</div>

<div>
    <label>MME/SGW/PGW</label>
    <select ng-model="model.userInfo.regionId" ng-options="m as m for m in sah.reportLevels" 
    id="selSwitch" class="form-control" required="" multiple="multiple"/>
</div>

<div>
    <label>Cell Group</label>
    <select ng-model="model.userInfo.regionId" ng-options="m as m for m in sah.reportLevels" 
    id="selSwitch" class="form-control" required="" multiple="multiple"/>
</div>
