
<div class="row">
	<div class="col-md-2">
		<div>
			<label>Report Level</label>
			<select ng-model="model.reportLevel" ng-options="m as m for m in s.reportLevels" 
			id="selSwitch" class="form-control" required=""/>
			</select>
		</div>
		
		<div>
			<label>MME Pool</label>
			<select ng-model="model.mmePool" ng-options="m.value as m.text for m in s.mmePools"  
			id="selSwitch" class="form-control" required="" multiple="multiple">
			</select>
		</div>
		
		<div>
			<label>MME/SGW/PGW</label>
			<select ng-model="model.mmePool" ng-options="m.value as m.text for m in s.mmePools"  
			id="selSwitch" class="form-control" required="" multiple="multiple">
			</select>
		</div>
	</div>

	<div class="col-md-2">
		<div>
			<label>Region</label>
			<select ng-model="model.regionId" ng-options="m for m in s.regionList"  
			id="selSwitch" class="form-control" required="" multiple="multiple">
			</select>
		</div>
	</div>
</div>		
