
<div class="row">	
	<div class="col-md-5">
		<select ng-model="scanTrendType" ng-options="m as m for m in scan.scanTrendTypes" 
			class="form-control" required="true">
		</select>
	</div>
	
	<div class="col-md-2">
		<select ng-model="scanTrendType" ng-options="m as m for m in scan.scanTrendTypes" 
			class="form-control" required="true">
		</select>
	</div>
	
	<div class="col-md-2">
		<select ng-model="scanTrendType" ng-options="m as m for m in scan.scanTrendTypes" 
			class="form-control" required="true">
		</select>
	</div>
	
	<div class="col-md-2">
		<button class="btn-default">Create Charts</button>
	</div>
</div>
	
